<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block scripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<header class="header-ak flex flex-row justify-between">
    <a href=""><img src="{{ asset('img/aker_logo.svg') }}" alt="Aker logo"></a>
    <div class="search-bar-container">
        <input type="text" class="search-bar-input" placeholder="Buscar">
        <button class="search-icon">
            <img src="{{ asset('img/icons/buscar.svg') }}" alt="Search" class="icon">
        </button>
    </div>
    <div class="header-controls">
        <div class="flex header-profile-container">
            <div class="header-profile-icons flex">
                <button>
                    <img src="{{ asset('img/icons/campana_con_notificacion.svg') }}" alt="Notifications" class="icon">
                </button>
                <button>
                    <img src="{{ asset('img/icons/perfil.svg') }}" alt="Perfil" class="icon">
                </button>
            </div>
            <div class="flex flex-col">
                <span class="text-xs font-bold">Demo</span>
                <span class="text-xs">Demo Security S.A.</span>
            </div>
        </div>
        <a>
            <img src="{{ asset('img/icons/logout.svg') }}" alt="Logout" class="icon">
        </a>
    </div>
</header>
<div class="flex">
    <aside class="left-bar">
        <a class="left-bar-item active">
            <img src="{{asset('img/icons/home.svg')}}" class="left-bar-icon" alt="Home">
            <span class="text-xs text-ak-gray-600">Home</span>
        </a>
        <a class="left-bar-item disabled">
            <img src="{{asset('img/icons/mapa.svg')}}" class="left-bar-icon" alt="Mapas">
            <span class="text-xs text-ak-gray-600">Mapas</span>
        </a>
        <a class="left-bar-item ">
            <img src="{{asset('img/icons/mantenimiento.svg')}}" class="left-bar-icon" alt="Mantenimiento">
            <span class="text-xs text-ak-gray-600">Mantenimiento</span>
        </a>
        <a class="left-bar-item">
            <img src="{{asset('img/icons/reportes.svg')}}" class="left-bar-icon" alt="Informes">
            <span class="text-xs text-ak-gray-600">Informes</span>
        </a>
        <a class="left-bar-item">
            <img src="{{asset('img/icons/navegacion.svg')}}" class="left-bar-icon" alt="Referencias">
            <span class="text-xs text-ak-gray-600">Referencias</span>
        </a>
        <a class="left-bar-item">
            <img src="{{asset('img/icons/combustible.svg')}}" class="left-bar-icon" alt="Combustible">
            <span class="text-xs text-ak-gray-600">Combustible</span>
        </a>
        <a class="left-bar-item">
            <img src="{{asset('img/icons/advertencia.svg')}}" class="left-bar-icon" alt="Eventos">
            <span class="text-xs text-ak-gray-600">Eventos</span>
        </a>
        <a class="left-bar-item">
            <img src="{{asset('img/icons/monitor.svg')}}" class="left-bar-icon" alt="Monitor">
            <span class="text-xs text-ak-gray-600">Monitor</span>
        </a>
        <a class="left-bar-item">
            <img src="{{asset('img/icons/flota.svg')}}" class="left-bar-icon" alt="Flota">
            <span class="text-xs text-ak-gray-600">Flota</span>
        </a>
    </aside>
    <div class="flex flex-col w-full">
        <div class="toolbar">
            <div class="title-container">
                <div class="flex flex-col">
                    <span class="text-ak-red-500 font-bold text-xl">Flota</span>
                    <span class="text-ak-gray-300 font-medium text-xs">Info extendida sobra la seccion</span>
                </div>
                <a class="flex gap-1 items-center cursor-pointer">
                    <img src="{{asset('img/icons/chevron_left.svg')}}" alt="Volver" class="h-2">
                    <span class="underline text-xs">Volver</span>
                </a>
            </div>
            <div class="flex">
                <div class="subcontrols-toolbar">
                    <div class="inline-flex ak-dropdown">
                        <button type="button" class="btn-dropdown" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
                            Opciones
                        </button>
                        <div class="relative inline-flex">
                            <button type="button" class="btn-icon-dropdown">
                                <img src="{{asset('img/icons/chevron_down.svg')}}" class="w-4 h-4" alt="Referencias">
                            </button>

                            <div class="dropdown-content hidden" role="menu" aria-orientation="vertical" aria-labelledby="hs-split-dropright">
                                <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-neutral-400" href="#">
                                    Opcion 1
                                </a>
                                <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-neutral-400" href="#">
                                    Opcion 2
                                </a>
                                <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-neutral-400" href="#">
                                    Opcion 3
                                </a>
                                <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-neutral-400" href="#">
                                    Opcion 4
                                </a>
                            </div>
                        </div>
                    </div>
                    <button class="btn-ak-primary ">
                        <img src="{{asset('img/icons/categoria.svg')}}" class="w-4 h-4" alt="Referencias">
                        Verificador
                    </button>
                    <button class="btn-ak-primary ">
                        <img src="{{asset('img/icons/referencia.svg')}}" class="w-4 h-4" alt="Referencias">
                        Referencias
                    </button>
                    <button class="btn-ak-primary">
                        Distancia
                    </button>
                    <button class="btn-ak-primary">
                        <img src="{{asset('img/icons/filtro.svg')}}" class="w-4 h-4" alt="Referencias">
                        Filtro
                    </button>
                    <button class="btn-ak-primary ">
                        <img src="{{asset('img/icons/importar.svg')}}" class="w-4 h-4" alt="Referencias">
                        djl
                    </button>

                </div>
                <div class="controls-toolbar">
                    <button class="btn-icon-rounded active">
							<span class="icon-rounded-container">
								<img src="{{ asset('img/icons/admin_fleet.svg') }}" class="btn-icon-rounded__icon" alt="Dolar icon">
							</span>
                        <span class="btn-label">Label 1</span>
                    </button>
                    <button class="btn-icon-rounded">
							<span class="icon-rounded-container">
								<img src="{{ asset('img/icons/dolar.svg') }}" class="btn-icon-rounded__icon" alt="Dolar icon">
							</span>
                        <span class="btn-label">Button</span>
                    </button>
                    <button class="btn-icon-rounded">
							<span class="icon-rounded-container">
								<img src="{{ asset('img/icons/dolar.svg') }}" class="btn-icon-rounded__icon" alt="Dolar icon">
							</span>
                        <span class="btn-label">Label 1</span>
                    </button>
                    <button class="btn-icon-rounded" disabled>
							<span class="icon-rounded-container">
								<img src="{{ asset('img/icons/dolar.svg') }}" class="btn-icon-rounded__icon" alt="Dolar icon">
							</span>
                        <span class="btn-label">Label 1</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="content">
            {# HERE THE CONTENT #}
        </div>
    </div>
</div>
</body>
</html>
